body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to top, rgb(221, 221, 221), rgb(121, 121, 121));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
   
}






h1 {
    color: #333;
}

h2 {
    color: #666;
}

p {
    color: #555;
    line-height: 1.6;
}

.interests {
    margin-top: 20px;
}

.interest {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.emojis {
    font-size: 24px;
}

#gradient_top {
    height: 100px;
    background-image: linear-gradient(rgb(0, 4, 255) , rgb(0, 183, 255));
    animation: animLeft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    position: relative;-

}

/*DIVs*/

div {
    border: solid 1px white;
    border-radius: 5px;
}

#Titulo {
    animation: animRight 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    position: relative;

    background-color: white;

}

#Parkr {
    animation: animLeft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    position: relative;

    background-color: white;

}

#Progrm {
    animation: animRight 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    position: relative;

    background-color: white;

}

#Gym {
    animation: animLeft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    position: relative;

    background-color: white;

}




@keyframes animLeft {
    from{left: 100%}
    to{left: 0px}

}

@keyframes animRight {
    from{right: 100%}
    to{right: 0px}

}